.main {
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	justify-content: flex-start;
	padding: 4rem;
}

.texts {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	max-width: 44rem;
	text-align: center;
}

@media (max-width: 80px) {
	.texts {
		width: 100%;
	}
}

.cryptos {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
}

@media (max-width: 740px) {
	.cryptos {
		gap: 4rem;
	}
}

.crypto {
	align-items: center;
	display: flex;
	gap: 2rem;
	justify-content: center;
}

@media (max-width: 740px) {
	.crypto {
		flex-wrap: wrap;
		gap: 1rem;
	}
}
