.main {
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	justify-content: flex-start;
	padding: 4rem;
}

.card {
	height: 197px;
	width: 240px;
}

.texts {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	width: 30rem;
	text-align: center;
}

@media (max-width: 520px) {
	.texts {
		width: 100%;
	}
}
